<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>이름</h1>
    <input type="text" name="id" size=20 maxlength=12/> <br/><br/>
	<input type="button" name="submit" text="접속"/>
  </body>
</html>
